
.hwrapper{
  width:100%;
}
.content{
  width:50%;
}
.title{
 position:absolute;
 top:120px;
 left:120px;
 font-size: 25px;
 margin-top:20px;
}
header{
  background-color:#000000;
  margin:auto;
  color:#FFFFFF;
  width:100%;
  height:40px;
  position:relative;
}

.search{

  top:30%;
  left:30%;
  padding-top:80px;
  position:fixed;
}

.shrine{
 position:absolute;
 top:55%;
 left:15%;
}

.souvenir{
position:absolute;
top:55%;
left:30%;
}

.hotel{
 position:absolute;
 top:55%;
 left:45%;
}
.input.hotel{

}


.menuButton{
  display:block;
  position:absolute;
  height:10px;
  width:60px;
  background:#000000;
  position:absolute;
  top:20px;
  right:80px;
  float:right;

}
.menuButton div{
  height:6px;
  width: 50px;
  background:#707070;
  position:absolute;
  float:right;
  top:2px;
  left:120px;
  transform: translate(-50%,-50%);
  transition: .3s;
}

.menuButton div:nth-of-type(1){
   transform: translate(-50%,-15px);
}
.menuButton div:nth-of-type(3){
  transform:translate(-50%, 15px);
}
.menuButton.active div:nth-of-type(1){
  transform: rotate(45deg) translate(-50%,0);
  transform-origin:0% 50%;
}
.menuButton.active div:nth-of-type(2){
  opacity: 0;
}
.menuButton.active div:nth-of-type(3){
  transform:rotate(-45deg) translate(-50%,0px);
  transform-origin:0% 50%;
}

nav{
  width:400px;
  position:absolute;
  height:450px;
  top:48px;
  left:410px;
  color:#000000;
  right:30px;
  opacity: 0;
  visibility: hidden;
  transition:.3s;
  float:right;
  background-color:#C0C0C0;
  z-index:100;
  transform:translateX(-100%);

}
nav.active{
  opacity:1;
  visibility: visible;
  right:25px;
  width:400px;
}
